<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <sectionGroup name="White">
      <section name="Core" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <appSettings file="Override.config">
  </appSettings>
  <NUnit>
    <TestRunner>
      <add key="ApartmentState" value="STA" />
      <add key="ThreadPriority" value="Normal" />
    </TestRunner>
  </NUnit>
  <White>
    <Core>
      <add key="BusyTimeout" value="50000" />
      <add key="LogCoreActions" value="false" />
    </Core>
  </White>
</configuration>