<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="White">
      <section name="Reporting" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <appSettings file="Override.config">
  </appSettings>
  <White>
    <Reporting>
      <add key="PublishTestReports" value="false"/>
    </Reporting>
  </White>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
