<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="White">
      <section name="Core" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="Bricks">
      <section name="Bricks" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DefaultTestMode" value="WinForm" />
  </appSettings>
  <NUnit>
    <TestRunner>
      <add key="ApartmentState" value="STA" />
      <add key="ThreadPriority" value="Normal" />
    </TestRunner>
  </NUnit>
  <White>
    <Core>
      <add key="BusyTimeout" value="50000" />
      <add key="WaitBasedOnHourGlass" value="true" />
    </Core>
  </White>
  <Bricks>
    <Bricks>
      <add key="RecheckDurationInMilliseconds" value="10" />
    </Bricks>
  </Bricks>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>